
.btn-custom-gradient{
  background: linear-gradient(90deg,rgb(48, 48, 207),rgb(11, 180, 248)) !important;
  cursor: pointer !important;

  /* color: rgb(103, 255, 83); */
}

.cursor-pointer{
  cursor: pointer !important;
}